PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/credit_card_checkout?schema=public
BACKEND_PUBLIC_URL=http://localhost:3000
PAYMENT_GATEWAY_SANDBOX_URL=https://api-sandbox.co.uat.wompi.dev/v1
PAYMENT_GATEWAY_PUBLIC_KEY=
PAYMENT_GATEWAY_PRIVATE_KEY=
PAYMENT_GATEWAY_EVENTS_KEY=
PAYMENT_GATEWAY_INTEGRITY_KEY=
TRANSACTION_SYNC_INTERVAL_SECONDS=300
